.my-3 {
    margin-top: 3rem;
  }
  
  .result-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
  }
  
  .result-container a {
    flex: 1;
  }
  
  .result-container button {
    margin-left: 1rem;
  }
  